<% if user_signed_in? %>
  <li>
  <%= link_to '编辑用户信息', edit_user_registration_path, :html => {:class => "rp_font update_password"} %>
  </li>
<% else %>
  <li>
  <%= link_to('注册', new_user_registration_path, :class => "register")  %>
  </li>
<% end %>

<% if nil %>
  <p>我不想使用这个系统了，我要 <%= link_to "取消我的账户", registration_path(resource_name), :confirm => "确定取消您的账户吗?", :method => :delete %>.</p>
<% end %>

