<%= title "激活邮件" %>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: "validate_form" }) do |f| %>
  <%= f.input :email, input_html: {class: "validate[required, custom[email]] wenben4"} %>
  <div>
    <%= f.button :submit, "发送邮件", class: "btn-primary" %>
  </div>
<% end %>
