
<div class="row-fluid">
  <div class="span9 offset3">
    <%= simple_form_for @zhangben, html: {class: "validate_form"} do |f| %>
      <%= f.input :name, input_html: {class: "validate[required, maxSize[20]] wenben4"}, required: true %>
      <%= f.input :desc, input_html: {class: "validate[maxSize[1000]]"} %>
      <div>
        <%= f.button :submit, "чбошод", class: "button" %>
      </div>
    <% end %>
  </div>
</div>



