<div id="left_navigation">
  <ul>
    <li><a href="zhangben.html">账本管理</a></li>
    <li><a href="fenlei.html">分类管理</a></li>
    <li><a href="renyuan.html">人员管理</a></li>
    <li><a href="huishouzhan.html">回收站</a></li>
    <li><%= link_to '编辑用户信息', edit_user_registration_path, :html => {:class => "rp_font update_password"}, :class => "edit_user" %></li>
  </ul>
</div>
