<div class="navbar" id="unsigned_navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand">我的账本</a>
      <ul class="nav pull-right">
        <%= current_link "忘记密码?", new_password_path(resource_name), class: "forget" %>
        <%= current_link '注册', new_user_registration_path, class: "register" %>
        <%= current_link '登陆', new_user_session_path, class: "login" %>
    </ul>
    </div>
  </div>
</div>



