<div id="left_navigation">
  <ul>
    <li><%= link_to "全部", new_zhangmu_path, :class => "current" %></li>
    <li><a href="#">我的钱包</a></li>
    <li><a href="#">借入借出</a></li>
    <li><a href="#">看病</a></li>
  </ul>
</div>
