<%= title '编辑账目' %>

<%= render "left_navigation" %>

<div id="right_body">
  <%= render "form" %>
</div>

<script type="text/javascript">
  jQuery(function(){
    jQuery(".jizhang").addClass("current")
  })
</script>
