@charset "utf-8";


ul li{
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

#body_unsinged{
  background-color: #F2F2F2;
  text-align: left;
  margin: 0 auto;
}

#header_unsinged {
  position:absolute;
  height:60px;
  background-color: #2A3333;
  text-align: left;
  width: 100%;
}

.text1 {
  height:100px;
  width: 400px;
}

.text2 {
  height:50px;
  width: 200px;
}

#header_unsinged ul{
  padding: 0px;
  margin: 0px;
  height: 100%;
}

#header_unsinged ul li{
  padding: 0px;
  margin: 0px;
  height: 100%;
  float: right;
  vertical-align: middle;
  line-height: 60px;
  margin-left: 20px;
  font-size: 18px;
}

#body_unsinged #header_unsinged .navigation ul li .forget {
  font-size: 14px;
}

#header_unsinged .logo{
  float: left;
  width: 20%;
  text-align: right;
  height: 60px;
}

#header_unsinged .logo img{
  margin-top: 10px;
}

#header_unsinged .navigation{
  float: left;
  height: 50px;
  color: #FFF;
  width: 50%;
}

#header_unsinged .navigation ul li a:link, #header_unsinged .navigation ul li a:visited {
  text-decoration: none;
  font-size: 20px;
  color:#FFF;

}

#header_unsinged .navigation ul li a:hover, #header_unsinged .navigation ul li a.current {
  color: #0099BB;
}

#body_singed{
  background-color: #F2F2F2;
  text-align: left;
  margin: 0 auto;
}

#header_singed {
  position:absolute;
  height:60px;
  background-color: #2A3333;
  text-align: left;
  width: 100%;
}

#header_singed ul{
  padding: 0px;
  margin: 0px;
  height: 100%;
}

#header_singed .navigation{
  width: 40%;
  float: left;
}

#header_singed .navigation ul li{
  padding: 0px;
  margin: 0px;
  height: 100%;
  float: left;
  vertical-align: middle;
  line-height: 60px;
  margin-left: 20px;
}

#header_singed .logo{
  float: left;
  width: 30%;
  text-align: center;
  height: 60px;
}

#header_singed .logo img{
  margin-top: 10px;
}

#header_singed .navigation ul li a:link, #header_singed .navigation ul li a:visited {
  text-decoration: none;
  font-size: 20px;
  color:#FFF;
}

#header_singed .other{
  float: left;
  height: 60px;
  color: #FFF;
  width: 30%;
}

#header_singed .other ul li{
  padding: 0px;
  margin: 0px;
  height: 100%;
  float: left;
  vertical-align: middle;
  line-height: 60px;
  margin-left: 20px;
}

#header_singed .other ul li a:hover {
  color: #FFCC00;
}

#header_singed .other ul li a:link, #header_singed .other ul li a:visited {
  text-decoration: none;
  font-size: 16px;
  color: #FFF;
}

#header_singed .navigation ul li a.current, #header_singed .navigation ul li a:hover{
  color: #0099BB;
}

body,td,th {
  font-family: "宋体", "黑体";
}

#login {
  position:absolute;
  left:30%;
  top:30%;
  width:500px;
  height:142px;
  z-index:1;
}

#login form label {
  margin-bottom: 12px;
  width: 80px;
  display: inline-block;
}

#register {
  position:absolute;
  left:30%;
  top:30%;
  width:850px;
  height:142px;
  z-index:1;
}

#register form label {
  margin-bottom: 12px;
  width: 80px;
  display: inline-block;
}

#forget_password {
  position:absolute;
  left:30%;
  top:30%;
  width:850px;
  height:142px;
  z-index:1;
}

#forget_password form label {
  margin-bottom: 12px;
  width: 80px;
  display: inline-block;
}

#reset_password {
  position:absolute;
  left:30%;
  top:30%;
  width:850px;
  height:142px;
  z-index:1;
}

#reset_password form label {
  margin-bottom: 12px;
  width: 80px;
  display: inline-block;
}

#edit_password {
  position:absolute;
  left:15%;
  top:20%;
  width:80%;
  height:142px;
  z-index:1;
}

#edit_password form label {
  margin-bottom: 12px;
  width: 80px;
  display: inline-block;
}

#edit_user_info {
  position:absolute;
  left:15%;
  top:20%;
  width:80%;
  height:142px;
  z-index:1;
}

#edit_user_info form label {
  margin-bottom: 12px;
  width: 80px;
  display: inline-block;
}

#new_zhangben_tip {
  position:absolute;
  left:15%;
  top:20%;
  width:850px;
  height:142px;
  z-index:1;
}

#new_zhangben_tip form div {
  display:block;
  width: 100%;
  float: left;
  margin-bottom: 6px;
}

#new_zhangben_tip form div label {
  margin-bottom: 12px;
  width: 80px;
  float: left;
}

#new_zhangben_tip form div input {
  float: left;
}

#new_zhangben_tip form div span {
  float: left;
  margin-left: 10px;
}

#new_zhangben_tip form div textarea {
  float: left;
}

#new_zhangben_tip form div .error {
  float: left;
}

#new_fenlei_tip {
  position:absolute;
  left:15%;
  top:20%;
  width:850px;
  height:142px;
  z-index:1;
}

#new_fenlei_tip form div{
  float: left;
  width: 100%;
  margin-bottom: 6px;
}

#new_fenlei_tip form input{
  float: left;
}

#new_fenlei_tip form textarea{
  float: left;
}

#new_fenlei_tip form label {
  margin-bottom: 12px;
  width: 80px;
  display: inline-block;
  float: left;
}

#new_fenlei_tip form div span{
  margin-left: 10px;
  float: left;
}

#new_people_tip {
  position:absolute;
  left:15%;
  top:20%;
  width:850px;
  height:142px;
  z-index:1;
}

#new_people_tip form div{
  float: left;
  width: 100%;
  margin-bottom: 6px;
}

#new_people_tip form input{
  float: left;
}

#new_people_tip form textarea{
  float: left;
}

#new_people_tip form label {
  margin-bottom: 12px;
  width: 80px;
  display: inline-block;
  float: left;
}

#new_people_tip form div span{
  margin-left: 10px;
  float: left;
}

#manage_people {
  position:absolute;
  left:15%;
  top:10%;
  width:80%;
  height:142px;
  z-index:1;
}

#activation {
  position:absolute;
  left:30%;
  top:30%;
  width:850px;
  height:142px;
  z-index:1;
}

#activation form label {
  margin-bottom: 12px;
  width: 80px;
  display: inline-block;
}

.wenben1 {
  font-family: "宋体", "黑体";
  width: 200px;
  height: 22px;
}

.wenben2 {
  font-family: "宋体", "黑体";
  width: 220px;
  height: 22px;
}

.wenben3 {
  font-family: "宋体", "黑体";
  width: 240px;
  height: 22px;
}

.wenben4 {
  font-family: "宋体", "黑体";
  width: 260px;
  height: 22px;
}

.wenben5 {
  font-family: "宋体", "黑体";
  width: 280px;
  height: 22px;
}

#notice_error {
  margin-bottom: 15px;
}

#notice_error li{
  margin-bottom: 6px;
}

.alert, .error {
  color: red;
}

.notice{
  color:#0099BB;
}

.button {
  background: url("/assets/buttonBlueBg.gif") repeat-x scroll left top transparent;
  border: 1px solid #056672;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.09em;
  margin-right: 8px;
  padding: 5px 12px;
}

.button:hover {
  background: url("/assets/buttonBlueBgHover.gif") repeat-x scroll left top transparent;
  border: 1px solid #056672;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.09em;
  margin-right: 8px;
  padding: 5px 12px;
}

#left_body {
  position:absolute;
  left:0;
  top:60px;
  width:20%;
  height:600px;
  z-index:2;
}

#right_body {
  position:absolute;
  left:20%;
  top:60px;
  width:80%;
  height:600px;
  z-index:3;
}

#left_body ul {
  display: block;
  padding-left: 0px;
  margin-top: 20px;
}

#left_body a.current {
  background-color: #ADA4A4;
  color: #056672;
}

#left_body a:hover{
  background-color: #ADA4A4;
  color: #056672;
}

#left_body ul li {
  margin-bottom: 5px;
}

#left_body ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  line-height: 40px;
  padding-left: 50px;
}

#manage_people table tr td a {
  color: #008595;
  text-decoration: none;
}

#manage_people table{
  width: 700px;
}

#manage_people .table_info_line {
  height: 50px;
}
#manage_people table .table_info_line td a {
  text-decoration: none;
  background-position: right;
}

#manage_people table tr .default {
  text-align: left;
  vertical-align: middle;
  width: 50px;
}

#manage_people table tr .name {
  text-align: center;
  vertical-align: middle;
  width: 200px;
}
#manage_people table tr .desc {
  text-align: center;
  vertical-align: middle;
  width: 300px;
}
#manage_people table tr .option {
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

#manage_fenlei {
  height: 142px;
  left: 15%;
  position: absolute;
  top: 10%;
  width: 80%;
  z-index: 1;
}

#manage_fenlei table tr td a {
  color: #008595;
  text-decoration: none;
}

#manage_fenlei table{
  width: 700px;
}

#manage_fenlei .table_info_line {
  height: 50px;
}

#manage_fenlei table .table_info_line td a {
  text-decoration: none;
  background-position: right;
}

#manage_fenlei table tr .default {
  text-align: left;
  vertical-align: middle;
  width: 50px;
}

#manage_fenlei table tr .name {
  text-align: center;
  vertical-align: middle;
  width: 200px;
}
#manage_fenlei table tr .desc {
  text-align: center;
  vertical-align: middle;
  width: 300px;
}
#manage_fenlei table tr .option {
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

#manage_zhangben {
  height: 142px;
  left: 15%;
  position: absolute;
  top: 10%;
  width: 80%;
  z-index: 1;
}

#manage_zhangben table tr, #manage_fenlei table tr, #manage_people table tr{
  line-height: 30px;
}

#manage_zhangben table tr td a {
  color: #008595;
  text-decoration: none;
}

#manage_zhangben table{
  width: 700px;
}

#manage_zhangben .table_info_line {
  height: 50px;
}

#manage_zhangben table .table_info_line td a {
  text-decoration: none;
  background-position: right;
}

#manage_zhangben table tr .default {
  text-align: left;
  vertical-align: middle;
  width: 50px;
}

#manage_zhangben table tr .name {
  text-align: center;
  vertical-align: middle;
  width: 200px;
}
#manage_zhangben table tr .desc {
  text-align: center;
  vertical-align: middle;
  width: 300px;
}
#manage_zhangben table tr .option {
  text-align: center;
  vertical-align: middle;
  width: 150px;
}
#body_singed #tongji_bottom_body #left {
  float: left;
  width: 45%;
  display: block;
  height: 400px;
}

#tongji_bottom_body {
  position:absolute;
  top:60px;
  width:100%;
  height:500px;
  z-index:1;
}

#body_singed #tongji_bottom_body #right {
  display: block;
  float: right;
  height: 400px;
  width: 45%;
}

#body_singed #right_body #jizhang_info {
  display: block;
  float: left;
  width: 100%;
  height: auto;
}

#body_singed #right_body #jizhang_info ul{
  margin-left: 40px;
  margin-top: 20px;
}

#body_singed #right_body #jizhang_info ul li {
  float: left;
  margin-right: 20px;
}

#body_singed #right_body #jizhang_form {
  display: block;
  float: left;
  width: 100%;
  height: auto;
}

#body_singed #right_body #jizhang_form form{
  margin-left: 40px;
  margin-top: 20px;
  width: 780px;
  height: 200px;
}

#body_singed #right_body #jizhang_form form div{
  float: left;
  margin-bottom: 10px;
}

#body_singed #right_body #jizhang_form form .lie1{
  width: 200px;
}

#body_singed #right_body #jizhang_form form div label{
  width: 80px;
  height: 50px;
  text-align: center;
  display:block;
  float: left;
}

#body_singed #right_body #jizhang_form form div input{
  float: left;
}

.select1 {
  border-color: #96A6C5;
  font-size: 14px;
  height: 30px;
  margin: 2px 0 0;
  padding: 5px;
  width: 100px;
}

.select2 {
  border-color: #96A6C5;
  font-size: 14px;
  height: 30px;
  margin: 2px 0 0;
  padding: 5px;
  width: 120px;
}

#right_body #zhangmu_list {
  display: block;
  float: left;
  width: 100%;
  height: auto;
}

#right_body #zhangmu_list table{
  margin-left: 40px;
}

#right_body #zhangmu_list table{
  width: 900px;
}

#right_body #zhangmu_list table td, #right_body #zhangmu_list table th {
  border-style:solid;
  border-color: #DEDEE6;
  border-width: 1px 1px 1px 1px;
}

#right_body #zhangmu_list td {
  color: #474747;
}

.table_header .left {
  float: left;
  height: 20px;
  width: 30%;
}

.table_header .center {
  float: left;
  height: 20px;
  text-align: center;
  width: 40%;
}

.table_header .right {
  float: left;
  height: 20px;
  width: 30%;
}

.table_header .right ul li {
  float: right;
  margin-left: 10px;
}

.table_header .right ul li a{
  color: #056672;
  text-decoration: none;
}

#right_body #zhangmu_list .table_info_line {
  height: 50px;
}

#right_body #zhangmu_list .table_info_line ul li{
  float: left;
  margin-right: 50px;
}

#right_body #zhangmu_list tr th a:link, #right_body #zhangmu_list tr th a:visited{
  text-decoration: none;
  color: #008595;
}

#right_body #zhangmu_list tr td a:link, #right_body #zhangmu_list tr td a:visited{
  text-decoration: none;
  color: #008595;
}

#right_body #zhangmu_list th.shouzhi {
  width: 60px;
}

#right_body #zhangmu_list td.shouzhi {
  text-align: center;
}

#right_body #zhangmu_list th.date {
  width: 100px;
}

#right_body #zhangmu_list td.date {
  text-align: center;
}

#right_body #zhangmu_list th.fee {
  width: 80px;
}

#right_body #zhangmu_list td.fee {
  text-align: center;
}

#right_body #zhangmu_list th.title {
  width: 150px;
}

#right_body #zhangmu_list td.title {
  text-align: center;
}

#right_body #zhangmu_list th.zhangben_fenlei {
  width: 150px;
}

#right_body #zhangmu_list td.zhangben_fenlei {
  text-align: center;
}

#right_body #zhangmu_list th.option {
  width: 100px;
}

#right_body #zhangmu_list td.option {
  text-align: center;
}

#right_body #zhangmu_list th {
  color: #474754;
  text-align: center
}
abbr{
  color: #FF6600;
}

#edit_password span.notice {
  line-height: 40px;
}

