@charset "utf-8";


ul li{
  list-style: none;
}

.navbar .navbar-inner .container{
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}

#unsigned_navbar{
  margin-bottom: 100px;
}
